<div ngClass.lt-md="mt-50" ngClass.gt-sm="mt-100" fxLayout="row" fxLayoutAlign="center">
  <mat-card ngClass.lt-sm="width-300" ngClass.gt-sm="width-500">

    <div fxLayout="row" fxLayoutAlign="center" class="mat-display-1">{{title}}</div>
    <div *ngIf="register===true" fxLayout="row" fxLayoutAlign="center"><a (click)="onTryLogin()">Click Here&nbsp;</a>to log in.</div>
    <form (ngSubmit)="onSubmit()"  [formGroup]="loginForm">

      <mat-form-field class="full-width">
        <input formControlName="unique" [(ngModel)]="user_info.unique" matInput placeholder="Email or Phone" name="unique" [autofocus]="true">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('unique')}}</mat-error>
      </mat-form-field>


      <mat-form-field class="full-width">
        <input formControlName="password" type="password" matInput [(ngModel)]="user_info.password" placeholder="Password" name="password">
        <mat-error>{{getInputErrorMessage('password')}}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="register===true" class="full-width">
        <input formControlName="confirmPassword" type="password" matInput [(ngModel)]="user_info.confirm_password" placeholder="Confirm Password" name="confirm-password">
        <mat-error>{{getInputErrorMessage('confirmPassword')}}</mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="center center" >
        <button mat-raised-button [disabled]="!loginForm.valid">Submit</button>
      </div>
    </form>
  </mat-card>
</div>

