<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    <!--{{util.env.app_name}}-->
    test
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div *ngIf="user">hi {{user.full_name}}</div>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <div *ngIf="user">
      <button class="nav-button" mat-button routerLink="/user/update">Profile</button>
      <button class="nav-button" mat-button routerLink="/company/create">Create Company</button>
      <button class="nav-button" mat-button (click)="onLogout()">Logout</button>
    </div>
    <div *ngIf="!user">
      <button class="nav-button" mat-button routerLink="/home">Home</button>
      <button class="nav-button" mat-button routerLink="/login">Login/Register</button>
    </div>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu yPosition="below" #menu="matMenu" [overlapTrigger]="false">
  <div *ngIf="user">
    <button class="nav-menu-item" mat-menu-item routerLink="/user/update">Profile</button>
    <button class="nav-menu-item" mat-menu-item routerLink="/company/create">Create Company</button>
    <button class="nav-menu-item" mat-menu-item routerLink="/company/list">My Companies</button>
    <mat-divider></mat-divider>
    <button class="nav-menu-item" mat-menu-item (click)="onLogout()">Logout</button>
  </div>

  <div *ngIf="!user">
    <button class="nav-menu-item" mat-menu-item routerLink="/home">Home</button>
    <button class="nav-menu-item" mat-menu-item routerLink="/login">Login/Register</button>
  </div>
</mat-menu>
