/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --header: #c6dcff;
  --footer: #c6dcff;
  --color1: grey;
  --color2: red;
  --color3: purple;
  --color4: green;
}

* {
  margin: 0;
  padding: 0;
}
